@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border: 0.2rem solid black;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        display: block;
        border: 0.2rem solid black;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
}