@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem;
    }

    section {
        padding: 2rem;

    }

    .home {
        background-position: left;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border: 0.2rem solid black;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        display: block;
        border: 0.2rem solid black;
    }

    .home .contant h3 {
        font-size: 5rem;

    }

    .home .contant span {
        font-size: 2.5rem;

    }

    .icons-container .icons h3 {
        font-size: 2rem;
    }

    .icons-container .icons span {
        font-size: 1.7rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }
}