* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding-left: 10vw;
    padding-right: 10vw;
     padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
    display: flex;
    align-items: center;
    text-decoration: none;
   
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px
}

.navbar a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    color: gray;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #e84393;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons a {
    text-decoration: none;
}

.icons a img {
    width: 32px;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 32px;
    height: auto;
}

.logo span {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.main-contant{
    background-image: url("assets\images\cover.webp");
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(assets/images/cover.webp) no-repeat;
    background-size: cover;
    background-position: center;
}